In [11]:
import pandas as pd
import re
from matplotlib import pyplot as plt

In [2]:
df = pd.read_csv("SMCA_CHIH_2015_2018.csv")
df.head(100)

   CONTAMINANTE       Fecha  HORA CHIH-CEN CHIH-SUR
0            CO  20/01/2015    17               0.6
1            CO  20/01/2015    18               0.5
2            CO  20/01/2015    19               0.8
3            CO  20/01/2015    20               1.7
4            CO  20/01/2015    21               1.4
..          ...         ...   ...      ...      ...
95           CO  24/01/2015    18               0.4
96           CO  24/01/2015    19               0.5
97           CO  24/01/2015    20               0.6
98           CO  24/01/2015    21               0.9
99           CO  24/01/2015    22                 1

[100 rows x 5 columns]

In [3]:
df.columns.values

array(['CONTAMINANTE', 'Fecha', 'HORA', 'CHIH-CEN', 'CHIH-SUR'],
      dtype=object)

In [4]:
df.dtypes

CONTAMINANTE    object
Fecha           object
HORA             int64
CHIH-CEN        object
CHIH-SUR        object
dtype: object

In [5]:
regex = r'(\d+\.\d{1,2})|[\d]'
df['CHIH-SUR'] = df['CHIH-SUR'].str.extract(regex, expand=False)

In [6]:
df['CHIH-SUR'] = pd.to_numeric(df['CHIH-SUR'])

In [7]:
df.shape

(161205, 5)

In [8]:
df.head(100)

   CONTAMINANTE       Fecha  HORA CHIH-CEN  CHIH-SUR
0            CO  20/01/2015    17                0.6
1            CO  20/01/2015    18                0.5
2            CO  20/01/2015    19                0.8
3            CO  20/01/2015    20                1.7
4            CO  20/01/2015    21                1.4
..          ...         ...   ...      ...       ...
95           CO  24/01/2015    18                0.4
96           CO  24/01/2015    19                0.5
97           CO  24/01/2015    20                0.6
98           CO  24/01/2015    21                0.9
99           CO  24/01/2015    22                NaN

[100 rows x 5 columns]

In [9]:
df['CHIH-SUR'] = df['CHIH-SUR'].fillna(0)
df.head(100)

   CONTAMINANTE       Fecha  HORA CHIH-CEN  CHIH-SUR
0            CO  20/01/2015    17                0.6
1            CO  20/01/2015    18                0.5
2            CO  20/01/2015    19                0.8
3            CO  20/01/2015    20                1.7
4            CO  20/01/2015    21                1.4
..          ...         ...   ...      ...       ...
95           CO  24/01/2015    18                0.4
96           CO  24/01/2015    19                0.5
97           CO  24/01/2015    20                0.6
98           CO  24/01/2015    21                0.9
99           CO  24/01/2015    22                0.0

[100 rows x 5 columns]

In [25]:
df = df.groupby([df['Fecha']]).mean()
df.head(100)

                 HORA  CHIH-SUR
Fecha
01/01/2015  12.500000  0.000000
01/01/2016  12.500000  0.999167
01/01/2017  12.537815  1.872269
01/01/2018  12.531469  2.562937
01/02/2015  12.500000  0.160417
...               ...       ...
03/01/2016  12.500000  0.925833
03/01/2017  12.453782  4.894118
03/01/2018  12.545455  2.637762
03/02/2015  12.500000  0.165625
03/02/2016  12.500000  0.940000

[100 rows x 2 columns]

In [26]:
import matplotlib.pyplot
import matplotlib.dates
from datetime import datetime, timedelta

dates = df['Fecha']

y_values = df['HORA']

plt.plot_date(dates, y_values)
plt.tight_layout()
plt.show()

KeyError: 'Fecha'